@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --ship: #ca6702;
  --grid: #0a9396;
  --border: #ae2012;
  --yet-ship: #e9d8a6;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Pirata One', cursive;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 4rem auto;
  grid-template-areas:
    'header header'
    'player1 player2';
}

header {
  grid-area: header;
  height: 3.7rem;
  background-color: #005f73;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2.9rem;
  letter-spacing: 0.5rem;
}

.player1-screen,
.player2-screen {
  grid-area: player1;
  display: grid;
  grid-template-rows: 25% 75%;
  grid-template-areas:
    'ships'
    'grids';
}

.player2-screen {
  grid-area: player2;
}

.ships-div1 {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 10px;
}

.ship {
  grid-area: ships;
  height: 3.33em;
  background-color: var(--yet-ship);
  border: 1px solid var(--border);
  cursor: grab;
  display: flex;
  align-items: center;
}

.ship.vertical {
  align-items: flex-start;
  justify-content: center;
  padding-top: 10px;
}

.reverse-img {
  filter: invert(77%) sepia(2%) saturate(24%) hue-rotate(320deg) brightness(88%) contrast(92%);
  opacity: 0;
  pointer-events: none;
  width: 18px;
  height: 18px;
}

.cell > .ship:hover > .reverse-img {
  opacity: 1;
}

.dragover {
  background-color: var(--yet-ship);
  border: 1px solid var(--border);
}

.dragged {
  background-color: var(--ship);
  border: 1px solid var(--border);
}

.grid-1,
.grid-2 {
  grid-area: grids;
  justify-self: center;
  overflow: hidden;
  width: 33.3em;
  height: 33.3em;
  display: flex;
  flex-wrap: wrap;
  background: var(--grid);
  background-position-x: 50%;
  background-position-y: 40%;
  cursor: pointer;
}

[data-y='9'] {
  border-right: 1px solid black;
}

[data-x='9'] {
  border-bottom: 1px solid black;
}

.cell {
  border-top: 1px solid black;
  border-left: 1px solid black;
  width: 10%;
  height: 10%;
}

.off {
  pointer-events: none;
  opacity: 0;
  width: 0;
  height: 0;
}
