.place-overlay {
  position: absolute;
  background-color: white;
  z-index: 5;
  pointer-events: all;
  right: 0%;
  top: 8%;
  left: 50%;
  bottom: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shift-overlay {
  background-color: #ae2012;
  width: 8rem;
  height: 3rem;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.5rem;
}

.place-overlay.nd {
  left: 0%;
  right: 50%;
}

.shift-overlay:hover {
  background-color: #9b2226;
}

.shift-overlay:active {
  background-color: #ca6702;
}
